*

!src/
!src/**/
!tests/
!tests/**/
!.vscode/

!.gitignore
!launch.json
!tasks.json
!*.cpp
!*.hpp
!*.c
!*.h
!*.h.in
!README.md
!CMakeLists.txt
!*.cmake

!vendor/
!vendor/*
!vendor/**/
!LICENSE*

!queries/
!queries/*.sql

!*.plantuml
!docs/
!docs/**/
!docs/**/*.svg

!examples/
!examples/**/
!examples/**/*.sql